### Notebook for gathering the dataset of the s&p500 from wikipedia.

I am going to collect daily the data of the companies belonging to th s&p500

In [3]:
import pandas as pd

In [4]:

companies_df, changes_df = pd.read_html("https://en.wikipedia.org/wiki/List_of_S%26P_500_companies")

In [5]:
companies_df.head()

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989

In [6]:
changes_df.head()

                Date  Added                 Removed  \
                Date Ticker        Security  Ticker
0    January 5, 2023    NaN             NaN     VNO
1    January 4, 2023   GEHC   GE HealthCare     NaN
2  December 22, 2022   STLD  Steel Dynamics    ABMD
3  December 19, 2022   FSLR     First Solar    FBHS
4  December 19, 2022    NaN             NaN     MBC

                                   \
                         Security
0            Vornado Realty Trust
1                             NaN
2                         Abiomed
3  Fortune Brands Home & Security
4                     MasterBrand

                                              Reason
                                              Reason
0                   Market capitalization change.[4]
1  S&P 500 constituent General Electric spun off ...
2  S&P 500 constituent Johnson & Johnson acquired...
3                   Market capitalization change.[7]
4                   Market capitalization change.[7]

The list of changes made are only since 1997. Therefore i do not think we can completely trust this historical data

In [7]:
#all the companies that formed part in the sp500 index (wikipedia)
companies = companies_df['Symbol'].tolist()
print("companies currently listed in the sp500 index: ", len(companies))

temp = changes_df.Added.Ticker.to_list()
temp += changes_df.Removed.Ticker.to_list()


#all the companies that formed part in the sp500 index (wikipedia)
all_companies = companies + temp

# delete duplicates
all_companies = list(dict.fromkeys(all_companies))
print("all companies that formed part in the sp500 index: ", len(all_companies))

companies currently listed in the sp500 index:  503
all companies that formed part in the sp500 index:  807

In [8]:
for i, company in enumerate(all_companies):
    if not isinstance(company, str):
        print(company) 
        print(i)

nan
503

In [9]:
# January 5, 2023 to yyyy-mm-dd
months = {"january": "01", "february": "02", "march": "03", "april": "04", "may": "05", "june": "06",
    "july": "07", "august": "08", "september": "09", "october": "10", "november": "11", "december": "12"}

import re
def convert_date(date):
    date = date.lower()
    # take out month, day, year
    month, day, year = re.findall(r"\w+", date)

    # convert month to number
    if len(month) == 1:
        month = "0" + month
    if len(day) == 1:
        day = "0" + day
    
    return f"{year}-{months[month]}-{day}"

In [10]:
# create a dictionary with the companies and more data

counter_missing_removed = 0
counter_missing_added = 0
companies_dict = {}
exclude = ["FB", "WL"]
ticker_names_dict = {
    "CMCSK": "CMCSA",
    "ENDP": "ENDPQ",
    
}
for company in all_companies:
    if company in exclude:
        continue
    if company in ticker_names_dict:
        company = ticker_names_dict[company]
    if company in companies:
        companies_dict[company] = {
            'name': companies_df[companies_df['Symbol'] == company]['Security'].values[0],
            'sector': companies_df[companies_df['Symbol'] == company]['GICS Sector'].values[0],
            'industry': companies_df[companies_df['Symbol'] == company]['GICS Sub-Industry'].values[0],
            'date_added': companies_df[companies_df['Symbol'] == company]['Date added'].values[0],
            'date_removed': None,
            'reason_removed': None,
            'is_in_index': True
        }
    else:
        try:
            try:
                name = changes_df.Removed[changes_df.Removed['Ticker'] == company]['Security'].values[0]
            except:
                name = changes_df.Added[changes_df.Added['Ticker'] == company]['Security'].values[0]

            # standardaize date format to YYYY-MM-DD
            
            companies_dict[company] = {
                'name': name,
                'sector': None,
                'industry': None,
                'date_added': None,
                'date_removed': None,
                'reason_removed': None,
                'is_in_index': False
            }
            try:
                date =  changes_df[changes_df['Removed']["Ticker"] == company]['Date'].values[0][0]
                companies_dict[company]["date_removed"] = convert_date(date)
                companies_dict[company]["reason_removed"] = changes_df[changes_df['Removed']["Ticker"] == company]['Reason'].values[0][0]
            except:
                counter_missing_removed += 1
                print(f"could not find date removed for {company}: current count: {counter_missing_removed}")
                
            try:
                date = changes_df[changes_df['Added']["Ticker"] == company]['Date'].values[0][0]
                companies_dict[company]["date_added"] = convert_date(date)
            except:
                counter_missing_added += 1
                print(f"could not find date added for {company} current count: {counter_missing_added}")
        except Exception as e:
            print(f"could not find company {company} in changes_df")
            print(e)

could not find company nan in changes_df
index 0 is out of bounds for axis 0 with size 0
could not find date removed for WLTW: current count: 1
could not find company ENDPQ in changes_df
index 0 is out of bounds for axis 0 with size 0
could not find date removed for DISCK: current count: 2
could not find date removed for KORS: current count: 3
could not find date removed for DLPH: current count: 4
could not find date removed for JOYG: current count: 5
could not find date removed for PCLN: current count: 6
could not find date removed for HRS: current count: 7
could not find date removed for COG: current count: 8
could not find date removed for JEC: current count: 9
could not find date removed for TSO: current count: 10
could not find date removed for LUK: current count: 11
could not find date removed for KFT: current count: 12
could not find date removed for WLP: current count: 13
could not find date removed for FSR: current count: 14
could not find date added for VNO current count: 1
could not find date added for CTXS current count: 2
could not find date added for UAA current count: 3
could not find date added for PBCT current count: 4
could not find date added for XLNX current count: 5
could not find date added for GPS current count: 6
could not find date added for LEG current count: 7
could not find date added for WU current count: 8
could not find date added for UNM current count: 9
could not find date added for NOV current count: 10
could not find date added for FLIR current count: 11
could not find date added for VAR current count: 12
could not find date added for FLS current count: 13
could not find date added for XRX current count: 14
could not find date added for TIF current count: 15
could not find date added for AIV current count: 16
could not find date added for NBL current count: 17
could not find date added for ETFC current count: 18
could not find date added for HRB current count: 19
could not find date added for KSS current count: 20
could not find date added for HOG current count: 21
could not find date added for JWN current count: 22
could not find date added for CPRI current count: 23
could not find date added for AGN current count: 24
could not find date added for M current count: 25
could not find date added for RTN current count: 26
could not find date added for STI current count: 27
could not find date added for VIAB current count: 28
could not find date added for CELG current count: 29
could not find date added for JEF current count: 30
could not find date added for TSS current count: 31
could not find date added for APC current count: 32
could not find date added for RHT current count: 33
could not find date added for LLL current count: 34
could not find date added for MAT current count: 35
could not find date added for FLR current count: 36
could not find date added for GT current count: 37
could not find date added for SCG current count: 38
could not find date added for COL current count: 39
could not find date added for AET current count: 40
could not find date added for SRCL current count: 41
could not find date added for CA current count: 42
could not find date added for ANDV current count: 43
could not find date added for XL current count: 44
could not find date added for DPS current count: 45
could not find date added for TWX current count: 46
could not find date added for MON current count: 47
could not find date added for WYN current count: 48
could not find date added for PDCO current count: 49
could not find date added for CHK current count: 50
could not find date added for SNI current count: 51
could not find date added for BCR current count: 52
could not find date added for SPLS current count: 53
could not find date added for WFM current count: 54
could not find date added for AN current count: 55
could not find date added for BBBY current count: 56
could not find date added for MUR current count: 57
could not find date added for RAI current count: 58
could not find date added for R current count: 59
could not find date added for TGNA current count: 60
could not find date added for DNB current count: 61
could not find date added for SWN current count: 62
could not find date added for URBN current count: 63
could not find date added for FTR current count: 64
could not find date added for HAR current count: 65
could not find date added for LLTC current count: 66
could not find date added for PBI current count: 67
could not find date added for SE current count: 68
could not find date added for STJ current count: 69
could not find date added for LM current count: 70
could not find date added for AA current count: 71
could not find date added for DO current count: 72
could not find date added for HOT current count: 73
could not find date added for EMC current count: 74
could not find date added for TE current count: 75
could not find date added for CCE current count: 76
could not find date added for TWC current count: 77
could not find date added for SNDK current count: 78
could not find date added for THC current count: 79
could not find date added for CAM current count: 80
could not find date added for POM current count: 81
could not find date added for CNX current count: 82
could not find date added for PCL current count: 83
could not find date added for PCP current count: 84
could not find date added for BRCM current count: 85
could not find date added for ACE current count: 86
could not find date added for ALTR current count: 87
could not find date added for CSC current count: 88
could not find date added for SIAL current count: 89
could not find date added for GNW current count: 90
could not find date added for HCBK current count: 91
could not find date added for JOY current count: 92
could not find date added for HSP current count: 93
could not find date added for PLL current count: 94
could not find date added for DTV current count: 95
could not find date added for NE current count: 96
could not find date added for FDO current count: 97
could not find date added for ATI current count: 98
could not find date added for TEG current count: 99
could not find date added for WIN current count: 100
could not find date added for DNR current count: 101
could not find date added for NBR current count: 102
could not find date added for AVP current count: 103
could not find date added for CFN current count: 104
could not find date added for SWY current count: 105
could not find date added for JBL current count: 106
could not find date added for BTU current count: 107
could not find date added for GHC current count: 108
could not find date added for RDC current count: 109
could not find date added for X current count: 110
could not find date added for FRX current count: 111
could not find date added for IGT current count: 112
could not find date added for LSI current count: 113
could not find date added for BEAM current count: 114
could not find date added for SLM current count: 115
could not find date added for LIFE current count: 116
could not find date added for ANF current count: 117
could not find date added for MOLX current count: 118
could not find date added for JCP current count: 119
could not find date added for NYX current count: 120
could not find date added for DELL current count: 121
could not find date added for BMC current count: 122
could not find date added for S current count: 123
could not find date added for APOL current count: 124
could not find date added for FHN current count: 125
could not find date added for HNZ current count: 126
could not find date added for DF current count: 127
could not find date added for CVH current count: 128
could not find date added for PCS current count: 129
could not find date added for BIG current count: 130
could not find date added for FII current count: 131
could not find date added for TIE current count: 132
could not find date added for RRD current count: 133
could not find date added for SUN current count: 134
could not find date added for LXK current count: 135
could not find date added for DV current count: 136
could not find date added for SHLD current count: 137
could not find date added for GR current count: 138
could not find date added for PGN current count: 139
could not find date added for SLE current count: 140
could not find date added for NVLS current count: 141
could not find date added for MMI current count: 142
could not find date added for EP current count: 143
could not find date added for SVU current count: 144
could not find date added for MHS current count: 145
could not find date added for TLAB current count: 146
could not find date added for MWW current count: 147
could not find date added for WFR current count: 148
could not find date added for JNS current count: 149
could not find date added for ITT current count: 150
could not find date added for CEPH current count: 151
could not find date added for NSM current count: 152
could not find date added for MI current count: 153
could not find date added for RSH current count: 154
could not find date added for NOVL current count: 155
could not find date added for GENZ current count: 156
could not find date added for MFE current count: 157
could not find date added for KG current count: 158
could not find date added for EK current count: 159
could not find date added for ODP current count: 160
could not find date added for NYT current count: 161
could not find date added for PTV current count: 162
could not find date added for SII current count: 163
could not find date added for MIL current count: 164
could not find date added for STR current count: 165
could not find date added for XTO current count: 166
could not find date added for BJS current count: 167
could not find date added for RX current count: 168
could not find date added for CIEN current count: 169
could not find date added for DYN current count: 170
could not find date added for KBH current count: 171
could not find date added for MBI current count: 172
could not find date added for SGP current count: 173
could not find date added for CTX current count: 174
could not find date added for ACAS current count: 175
could not find date added for JNY current count: 176
could not find date added for WB current count: 177
could not find date added for LEH current count: 178
could not find date added for FRE current count: 179
could not find date added for FNM current count: 180
could not find date added for CFC current count: 181
could not find date added for BC current count: 182
could not find date added for OMX current count: 183
could not find date added for TRB current count: 184
could not find date added for DJ current count: 185
could not find date added for AV current count: 186
could not find date added for SLR current count: 187
could not find date added for NCR current count: 188
could not find date added for FDC current count: 189
could not find date added for KSE current count: 190
could not find date added for TSG current count: 191
could not find date added for ABS current count: 192
could not find date added for GLK current count: 193
could not find date added for QTRN current count: 194
could not find date added for BS current count: 195
could not find date added for GRA current count: 196
could not find date added for CCK current count: 197
could not find date added for RAD current count: 198
could not find date added for TMC current count: 199
could not find date added for SMS current count: 200
could not find date added for LDW current count: 201
could not find date added for HPH current count: 202
could not find date added for GRN current count: 203
could not find date added for USL current count: 204

In [11]:
changes_df[changes_df['Removed']["Ticker"] == "LDW"]

                  Date  Added          Removed           \
                  Date Ticker Security  Ticker Security
314   December 7, 1999   YHOO   Yahoo!     LDW  Laidlaw
316  December 11, 1998    FSR  Firstar     LDW    Amoco

                                      Reason
                                      Reason
314       Market capitalization change.[240]
316  British Petroleum purchased Amoco.[242]

In [12]:
all_companies_df = pd.DataFrame.from_dict(companies_dict, orient='index')
all_companies_df.reset_index(names=["ticker"], inplace=True)
all_companies_df.head()

,ticker,name,sector,industry,date_added,date_removed,reason_removed,is_in_index
0,MMM,3M,Industrials,Industrial Conglomerates,1957-03-04,None,None,True
1,AOS,A. O. Smith,Industrials,Building Products,2017-07-26,None,None,True
2,ABT,Abbott,Health Care,Health Care Equipment,1957-03-04,None,None,True
3,ABBV,AbbVie,Health Care,Pharmaceuticals,2012-12-31,None,None,True
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,2011-07-06,None,None,True

In [13]:
len(all_companies_df)

803

In [14]:
all_companies_df.to_csv("sp500/all_companies.csv")

In [15]:
import yfinance as yf

# get historical data for apple
data = yf.download("META", period="max")

[*********************100%***********************]  1 of 1 completed

In [16]:
data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2012-05-18,42.049999,45.000000,38.000000,38.230000,38.230000,573576400
2012-05-21,36.529999,36.660000,33.000000,34.029999,34.029999,168192700
2012-05-22,32.610001,33.590000,30.940001,31.000000,31.000000,101786600
2012-05-23,31.370001,32.500000,31.360001,32.000000,32.000000,73600000
2012-05-24,32.950001,33.209999,31.770000,33.029999,33.029999,50237200
...,...,...,...,...,...,...
2023-03-06,188.000000,189.660004,184.639999,184.899994,184.899994,33209400
2023-03-07,189.000000,190.360001,184.009995,184.509995,184.509995,36701500
2023-03-08,182.869995,185.259995,181.339996,184.970001,184.970001,19432400
2023-03-09,186.350006,188.929993,180.300003,181.690002,181.690002,26582800
2023-03-10,181.009995,184.770004,178.800003,179.509995,179.509995,25547400

In [17]:
!mkdir sp500

mkdir: cannot create directory ‘sp500’: File exists

In [ ]:
!mkdir sp500/data

In [18]:
import os
errors = 0

companies_error = []
names_error = []

found_data = []
for i, (company, name) in enumerate(zip(all_companies_df['ticker'], all_companies_df['name'])):
    # check if data already exists
    if os.path.exists(f"data/{company}.csv"):
        continue
    try:
        data = yf.download(company, start="1985-01-01")

        if len(data) == 0:
            data = yf.download(company.replace(".", "-"), start="1985-01-01")
        

        if len(data) > 0:
            data.to_csv(f"sp500/data/{company}.csv")
            found_data.append(True)
        else:
            errors += 1
            companies_error.append(company)
            names_error.append(name)
            found_data.append(False)
            print(f"could not find company {company}: {name} in yfinance")
    except:
        errors += 1
        companies_error.append(company)
        names_error.append(name)
        found_data.append(False)
        print(f"could not find company {company}: {name} in yfinance")

[*********************100%***********************]  1 of 1 completed
could not find company MMM: 3M in yfinance
[*********************100%***********************]  1 of 1 completed
could not find company AOS: A. O. Smith in yfinance
[*********************100%***********************]  1 of 1 completed
could not find company ABT: Abbott in yfinance
[*********************100%***********************]  1 of 1 completed
could not find company ABBV: AbbVie in yfinance
[*********************100%***********************]  1 of 1 completed
could not find company ACN: Accenture in yfinance
[*********************100%***********************]  1 of 1 completed
could not find company ATVI: Activision Blizzard in yfinance
[*********************100%***********************]  1 of 1 completed
could not find company ADM: ADM in yfinance
[*********************100%***********************]  1 of 1 completed
could not find company ADBE: Adobe Inc. in yfinance
[*********************100%***********************]  1 of 1 completed
could not find company ADP: ADP in yfinance
[*********************100%***********************]  1 of 1 completed
could not find company AAP: Advance Auto Parts in yfinance
[*********************100%***********************]  1 of 1 completed
could not find company AES: AES Corporation in yfinance
[*********************100%***********************]  1 of 1 completed
could not find company AFL: Aflac in yfinance
[*********************100%***********************]  1 of 1 completed
could not find company A: Agilent Technologies in yfinance
[*********************100%***********************]  1 of 1 completed
could not find company APD: Air Products and Chemicals in yfinance
[*********************100%***********************]  1 of 1 completed
could not find company AKAM: Akamai in yfinance
[*********************100%***********************]  1 of 1 completed
could not find company ALK: Alaska Air Group in yfinance
[*********************100%***********************]  1 of 1 completed
could not find company ALB: Albemarle Corporation in yfinance
[*********************100%***********************]  1 of 1 completed
could not find company ARE: Alexandria Real Estate Equities in yfinance
[*********************100%***********************]  1 of 1 completed
could not find company ALGN: Align Technology in yfinance
[*********************100%***********************]  1 of 1 completed
could not find company ALLE: Allegion in yfinance
[*********************100%***********************]  1 of 1 completed
could not find company LNT: Alliant Energy in yfinance
[*********************100%***********************]  1 of 1 completed
could not find company ALL: Allstate in yfinance
[*********************100%***********************]  1 of 1 completed
could not find company GOOGL: Alphabet Inc. (Class A) in yfinance
[*********************100%***********************]  1 of 1 completed
could not find company GOOG: Alphabet Inc. (Class C) in yfinance
[*********************100%***********************]  1 of 1 completed
could not find company MO: Altria in yfinance
[*********************100%***********************]  1 of 1 completed
could not find company AMZN: Amazon in yfinance
[*********************100%***********************]  1 of 1 completed
could not find company AMCR: Amcor in yfinance
[*********************100%***********************]  1 of 1 completed
could not find company AMD: AMD in yfinance
could not find company AEE: Ameren in yfinance
[*********************100%***********************]  1 of 1 completed
could not find company AAL: American Airlines Group in yfinance
[*********************100%***********************]  1 of 1 completed
could not find company AEP: American Electric Power in yfinance
[*********************100%***********************]  1 of 1 completed
could not find company AXP: American Express in yfinance
[*********************100%***********************]  1 of 1 completed
could not find company AIG: American International Group in yfinance
[*********************100%***********************]  1 of 1 completed
could not find company AMT: American Tower in yfinance
[*********************100%***********************]  1 of 1 completed
could not find company AWK: American Water Works in yfinance
[*********************100%***********************]  1 of 1 completed
could not find company AMP: Ameriprise Financial in yfinance
[*********************100%***********************]  1 of 1 completed
could not find company ABC: AmerisourceBergen in yfinance
[*********************100%***********************]  1 of 1 completed
could not find company AME: Ametek in yfinance
[*********************100%***********************]  1 of 1 completed
could not find company AMGN: Amgen in yfinance
[*********************100%***********************]  1 of 1 completed
could not find company APH: Amphenol in yfinance
[*********************100%***********************]  1 of 1 completed
could not find company ADI: Analog Devices in yfinance
[*********************100%***********************]  1 of 1 completed
could not find company ANSS: Ansys in yfinance
[*********************100%***********************]  1 of 1 completed
could not find company AON: Aon in yfinance
[*********************100%***********************]  1 of 1 completed
could not find company APA: APA Corporation in yfinance
[*********************100%***********************]  1 of 1 completed
could not find company AAPL: Apple Inc. in yfinance
[*********************100%***********************]  1 of 1 completed
could not find company AMAT: Applied Materials in yfinance
[*********************100%***********************]  1 of 1 completed
could not find company APTV: Aptiv in yfinance
[*********************100%***********************]  1 of 1 completed
could not find company ACGL: Arch Capital Group in yfinance
[*********************100%***********************]  1 of 1 completed
could not find company ANET: Arista Networks in yfinance
[*********************100%***********************]  1 of 1 completed
could not find company AJG: Arthur J. Gallagher & Co. in yfinance
[*********************100%***********************]  1 of 1 completed
could not find company AIZ: Assurant in yfinance
[*********************100%***********************]  1 of 1 completed
could not find company T: AT&T in yfinance
[*********************100%***********************]  1 of 1 completed
could not find company ATO: Atmos Energy in yfinance
[*********************100%***********************]  1 of 1 completed
could not find company ADSK: Autodesk in yfinance
[*********************100%***********************]  1 of 1 completed
could not find company AZO: AutoZone in yfinance
[*********************100%***********************]  1 of 1 completed
could not find company AVB: AvalonBay Communities in yfinance
[*********************100%***********************]  1 of 1 completed
could not find company AVY: Avery Dennison in yfinance
[*********************100%***********************]  1 of 1 completed
could not find company BKR: Baker Hughes in yfinance
[*********************100%***********************]  1 of 1 completed
could not find company BALL: Ball Corporation in yfinance
[*********************100%***********************]  1 of 1 completed
could not find company BAC: Bank of America in yfinance
[*********************100%***********************]  1 of 1 completed
could not find company BBWI: Bath & Body Works, Inc. in yfinance
[*********************100%***********************]  1 of 1 completed
could not find company BAX: Baxter International in yfinance
[*********************100%***********************]  1 of 1 completed
could not find company BDX: Becton Dickinson in yfinance
[*********************100%***********************]  1 of 1 completed
could not find company WRB: Berkley in yfinance
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- BRK.B: No timezone found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
could not find company BRK.B: Berkshire Hathaway in yfinance

In [ ]:
# write a txt file with the companies that could not be found
with open("sp500/companies_not_found.txt", "w") as f:
    for company, name in zip(companies_error, names_error):
        f.write(f"{company}: {name}\n")

In [ ]:
# check if any of the tickers belong to the sp500
for company in companies_error:
    if sum(all_companies_df[all_companies_df['ticker'] == company].is_in_index) > 0:
        print(company)